<link rel="import" href="../../../../packages/polymer/polymer.html">
<link rel="import" href="../../../../packages/core_elements/core_toolbar.html">
<link rel="import" href="../../../../packages/core_elements/core_header_panel.html">
<link rel="import" href="../../../../packages/core_elements/core_icons.html">
<link rel="import" href="../../../../packages/core_elements/core_field.html">
<link rel="import" href="../../../../packages/paper_elements/paper_icon_button.html">
<link rel="import" href="../../../../packages/paper_elements/paper_input.html">
<link rel="import" href="../../../../packages/paper_elements/paper_item.html">
<link rel="import" href="download_control/download_control.html">

<polymer-element name="downloads-view">

  <template>
    <style>
      core-toolbar {
        min-height: 70px;
      }
      core-field {
        color: #bdced7;
      }
    </style>
    
    <core-header-panel flex vertical layout mode="waterfall">
      <core-toolbar id="main-header">
      
        <core-field style="width: 100%;">
          <form flex on-submit="{{handleNewUrlSubmit}}">
            <paper-input-decorator label="Download URL" floatinglabel="Download URL">
              <input is="core-input" value="{{inputValue}}" autofocus="autofocus" />
            </paper-input-decorator>
          </form>          
        </core-field>
        <!-- TODO - settings button -->
        <!-- TODO - clear all button -->
      </core-toolbar>
    
      <content></content>
      
    </core-header-panel>    
  </template>
  
  <script type="application/dart" src="downloads_view.dart"></script>
</polymer-element>
