<link rel="import" href="../../../../../packages/polymer/polymer.html">
<link rel="import" href="../../../../../packages/core_elements/core_icons.html">
<link rel="import" href="../../../../../packages/core_elements/av_icons.html">
<link rel="import" href="../../../../../packages/paper_elements/paper_icon_button.html">
<link rel="import" href="../../../../../packages/paper_elements/paper_progress.html">

<polymer-element name="download-control">
  <template>
  
    <style>
      .container {
        border-bottom: 2px solid #2c2f2f;
        padding: 10px 0 10px 0;
      }
      span {
        padding: 0 10px 0 10px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      paper-progress[error]::shadow #activeProgress {
        background-color: red;
      }
      paper-progress[error]::shadow #progressContainer {
        background-color: #ff7043;
      }
      .middle-section {
        width: 100%;
      }
      .button-section {
        padding: 0 20px 0 10px;
      }
      .percentage {
        width: 20%;
        text-align: left;
      }
      .fraction {
        width: 30%;
        text-align: center;
      }
      .host {
        width: 50%;
        text-align: right;
      }
      paper-progress {
        width: 100%;
        padding: 10px 0 10px 0;
      }
      paper-icon-button {
        width: 24px;
      }
    </style>    
    <div class="container" horizontal layout center>
    
      <div class="button-section" vertical layout>
        <paper-icon-button id="file-button" icon="description" disabled on-click="{{handleServeFile}}" aria-label="get file" title="Get file"></paper-icon-button>
      </div>
      
      <div class="middle-section" vertical layout>
        <span>{{filename}}</span>
        
        <paper-progress error?="{{isInError}}" value="{{downloadedPercentage}}" title="{{errorMessage}}"></paper-progress>
        
        <div class="bottom-section" horizontal layout>          
            <span class="percentage">{{downloadedPercentage}}%</span>
            <span class="fraction">{{downloaded}} / {{size}}</span>
            <span class="host">{{host}}</span>
        </div>
      </div>
      
      <div class="button-section" vertical layout>
        <paper-icon-button id="pause-button" icon="av:pause" aria-label="pause" disabled on-click="{{handlePauseButton}}" title="Pause"></paper-icon-button>
        <paper-icon-button id="remove-button" icon="clear" aria-label="remove" disabled on-click="{{handleRemove}}" title="Remove"></paper-icon-button>        
      </div>
      
    </div>     
  </template>
  
  <script type="application/dart" src="download_control.dart"></script>
</polymer-element>